body {
  margin: 0;
}

background {
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  width: 100vw;
  display: inline-block;
  height: 100vh;
  overflow: hidden;

  vertical-align: middle;
  text-align: center;
}

prefetch {
  position: absolute;
  bottom: 0;
  right: 100px;
}

prefetch img {
  width: 100px;
  height: 100px;
  margin-right: 25px;
  opacity: 85%;
  visibility: hidden;
}

prefetch img:hover {
  opacity: 100%;
}

info-box {
  position: absolute;
  top: 0;
  left: 2em;
  z-index: 1;
}
